
.glass {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, .3);
}

.glass .light-box {
    position: fixed;
    display: inline-block;
    z-index: 1050;
    top: 25%;
    left: 33%;
    padding: 10px;
    background-color: #FFF;
}

.glass .light-box .close {
    position: absolute;
    z-index: 1100;
    width: 20px;
    height: 20px;
    top: 5px;
    right: 5px;
    background-color: #FFF;
    cursor: pointer;
}

.photrViewer .imageContainer {
    width: 500px;
    height: 350px;
    text-align: center;
}

.photrViewer button {
    position: absolute;
    top: 0;
    height: 100%;
    width: 35px;
    background-color: rgb(24, 144, 144);
    color: white;
    border: 1px solid rgb(61, 90, 90);
    cursor: pointer;
}

.photrViewer button.left {
    left: -35px;
}

.photrViewer button.right {
    right: -35px;
}

.photrViewer button:hover {
    background-color: rgb(42, 178, 178);
}

.photrViewer button[disabled=true] {
    background-color: rgb(218, 218, 218);
    border-color: rgb(205, 205, 205);
    color: rgb(153, 153, 153);
    cursor: default;
}
