
/* There are a lot of dub variables in here. I would normally use less. */

body {
    font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 100px 30%;
    color: #666;
}

h1 {
    font-size: 2em;
    text-shadow: 1px 1px 1px #FFF;
}

input {
    border: 1px solid #CCC;
    color: #888;
    height: 40px;
    margin-right: 6px;
    padding: 5px 0px 5px 5px;
    width: 70%;

    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}

button {
    border: 1px solid #CCC;
    height: 40px;
    padding: 10px;
    color: #666;
    background-color: #FFF;

    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}

button:hover {
    background-color: #F5F5F5;
    border-color: #BBB;
}

.or {
    padding: 20px;
}

.error {
    font-size: 4em;
    color: rgb(165, 28, 28);
    text-shadow: -1px 0 #FFF7F7, 0 1px #FFF7F7, 1px 0 #FFF7F7, 0 -1px #FFF7F7;
}

.glass {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, .2);
}

.glass .light-box {
    position: fixed;
    display: inline-block;
    z-index: 1050;
    top: 50%;
    left: 50%;
    padding: 10px;
}

.glass .light-box .close {
    position: absolute;
    z-index: 1100;
    padding: 5px;
    font-size: 1.8em;
    top: -1.7em;
    right: -1.6em;
    cursor: pointer;
    font-weight: bolder;
    transform: scaleY(.8);
    color: #FFF7F7;
    text-shadow: -1px 0 rgb(165, 28, 28), 0 1px rgb(165, 28, 28), 1px 0 rgb(165, 28, 28), 0 -1px rgb(165, 28, 28);
}

.photrViewer .imageContainer {
    width: 500px;
    height: 350px;
    text-align: center;
    background-color: #FFF;
    padding: 20px;
}

.photrViewer button {
    position: absolute;
    top: 0;
    height: 100%;
    width: 35px;
    background-color: #FFF7F7;
    color: rgb(165, 28, 28);
    border: 1px solid rgb(165, 28, 28);
    cursor: pointer;
}

.photrViewer img {
    margin-bottom: 10px;
}

.photrViewer button.left {
    left: -35px;
}

.photrViewer button.right {
    right: -35px;
}

.photrViewer button:hover {
    color: #FFF7F7;
    background-color: rgb(165, 28, 28);
}

.photrViewer button[disabled=true] {
    background-color: rgb(218, 218, 218);
    border-color: rgb(205, 205, 205);
    color: rgb(153, 153, 153);
    cursor: default;
}

/* Obtained from https://github.com/tobiasahlin/SpinKit */
.spinner {
    width: 110px;
    height: 70px;
    text-align: center;
}

.spinner > div {
    background-color: #FFF7F7;
    height: 100%;
    width: 13px;
    display: inline-block;
    margin: 0 3px 0 0;
    border: 1px solid rgb(165, 28, 28);
    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}
